@mixin BUTTON($color, $hover-color) {
    font-family: 'DIN pro';
    background-color: $color;
    color: #ccc;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    &:hover {
        box-shadow: 0px 0px 15px 10px $hover-color;
        color: #fff;
     }
    
}
